.container{
  float: left;
}
body{
  background-color: #a5cfe8;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}
h1{
  color: #065a91;
}
.cat{
  float: left;
  height: 30%;
  width: 30%;
  border-radius: 50px;
}
